$f:'Lato',
sans-serif;

/*============================ Universal code =====================*/

a:hover {
    text-decoration: none;
}

.relative {
    display: block;
    position: relative;
    &:after {
        content: "";
        position: absolute;
        display: block;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 9999;
    }
}

.static {
    position: static;
}

.head {
    h2 {
        font: 900 42px/50px $f;
        color: #01285f;
        position: relative;
        margin-bottom: 90px;
        margin-top: 20px;
        &:after {
            content: "";
            display: block;
            position: absolute;
            background: #fe7058;
            height: 6px;
            width: 106px;
            left: 0;
            right: 0;
            margin: 0 auto;
            bottom: -24px;
        }
    }
}


/*============================ Header =====================*/

.main-header {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    padding: (164px - 81)/2 0;
    z-index: 99999;
    .logo {
        font: 900 70px/81px $f;
        text-transform: uppercase;
        a {
            color: #fff;
        }
    }
}
/*============================ Banner Section =====================*/
.banner {
    position: relative;
    padding-top: 164px;
    background: #f7f8fa;
    &:after {
        content: "";
        background: url(../images/Background__1.svg) no-repeat;
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 86%, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% calc(100% - 7.32vw), 0 100%);
        background-size: cover;
        position: absolute;
        height: 100%;
        width: 100%;
        z-index: 1;
        top: 0;
        left: 0;
    }
    .container {
        position: relative;
        z-index: 2;
    }
    .banner-text {
        h1 {
            font: 900 70px/84px $f;
            color: #fff;
        }
        p {
            font: 25px/35px $f;
            letter-spacing: (20em/1000);
            color: #fff;
            max-width: 590px;
            margin-top: 30px;
            margin-bottom: (50px - 15);
        }
        .paystore-svg {
            width: 296px;
            padding-bottom: 100px;
        }
    }
    .mobile-bg {
        background: url(../images/Mobile.svg);
        background-size: 100% 100%;
        min-width: 347px;
        min-height: 606px;
        position: absolute;
        bottom: 0;
        right: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: -50px;
        a {
            font: 900 70px $f;
            color: #d3011a;
            text-transform: uppercase;
        }
    }
}
/*============================ Banner bottom =====================*/

.banner-botoom{
     background: #f7f8fa;
    padding-top: 88px;
    padding-bottom: 100px;
    p{
        font: 700 28px/48px $f;
        color: #656565;
        margin: 0;
    }
}

/*============================ instruction section =====================*/

.instruction{
    padding-top: 70px;
    .head h2{
        margin-bottom: (90px+22);
    }
    .content{
        margin-bottom: (107px-10);
        .number{
            height: 52px;
            width: 52px;
            line-height: 52px;
            text-align: center;
            border: 4px solid #00295f;
            color: #fc151b;
            font: 900 33px $f;
            border-radius: 50%;
            margin: 0 auto;
            margin-top: 5px;
            margin-bottom: 5px;
        }
        h3{
            font: 40px/48px $f;
            color: #01285f;
        }
        p{
            font: 30px/36px $f;
            color: #676767;
        }
    }
}